.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  letter-spacing: 0.2rem;
}

.textDesign {
  margin: 0%;
}

.heading {
  padding-bottom: 0.6rem;
  font-family: 'Montserrat', sans-serif;
}

.subHeading {
  font-family: 'Zilla Slab', serif;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid rgba(84, 83, 51, 0.85);
  width: 0;
  animation: typing 2s steps(var(--steps), end) forwards,
    blink 0.6s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: var(--finalWidth);
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(84, 83, 51, 0.85);
  }
}
